body{

    margin: 0px;
}

/* Header */
#body-header{
    height: 80vh;
    opacity: 0.9;
    background-image: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1031&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Nav */
.Horizontal-Lists{
    list-style:none;
    padding-left: 0px;
    text-align: center;
}
.Horizontal-Lists li{
    
    display: inline-block;
    margin:1px 9px 9px 1px;

}

.Horizontal-Lists li a{

    color: antiquewhite;
    text-decoration: none;
    transition: color 0.5s ,border-bottom 4s;
}
.Horizontal-Lists li a:hover{

    color: lightgrey;
    border-bottom: 1px solid white;
}