
/*Media Queries*/
  /*Desktop First Responsive */
 /*1 breakpoint '768px'.*/
 @media screen and (max-width:768px){
    body .Container{

        overflow: hidden;
    }
    .Horizontal-List {
        list-style: none;
 
        margin: -60px;
    }
    .nav-hamburger{

        display: none;
     
      
    }

#MyImage
{
    margin-top: -9.1%;
    margin-left: 83vh;
    margin-bottom: 15%;
    height: 8.9rem;
    width: 8.9rem;

}
#About-Paragraph {
    
    line-height: 30px;
    font-size: 70%;
    padding-top: 60px;
    font-weight: 300;
    margin: -150px 70px 35px 70px;
}

#Skills {
    margin-top: 80px;

}

.Skills-heading {
    width: auto;
    padding: 0px -12px -12px;
    margin-top: 0px;
    justify-content: center;
    padding-top: 25px;
}

.Skills-Display {
  
    margin-left: 115px;
   
}

.Education-heading {
    width: auto;
    padding: 60px 10px 40px;
    margin-top: -97px;


}
.Timeline-divider{
 
    left: 15%;
  }  

  .Timeline-Box{

    left: 29% !important ;
  }

  .Timeline-Box::after{
  top: -5%;

    left: -38% !important;
  }
  .contentbox{

    margin: -5%;
    padding-top: 87px;
  }
  
  .Timeline{

    left: 10% !important;
    width: 80%;
   
  }

.MyName{
    
    font-size: 1.4rem;
    color: white;
    font-weight: 200;
    margin-top: 18%;
    text-align: center;
}

.Horizontal-List li{
    
    display: inline-block;
    margin: 17px 10px 10px 0px;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.3REM;
    word-spacing: 9%;

}

.Horizontal-List li a{

    color: white;
    text-decoration: none;
    transition: color 0.5s ,border-bottom 4s;
}



.text-center{

    text-align: center;
}


#Portfolio{

    margin-top: 0;
}

.Portfolio-Display{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   align-items: center;  /*Because of cross axis */
  
    margin:65px;
    margin-right:10% ;


}

.row{

    margin-right: 25%;
}
.Contact-Container .row {
   
    width: 50%;
}
 .row.colleft{
    flex-basis:40%;
    

    font-size: 50px;


}
.colleft .Input-fields{

    margin: 15px 0px;
 
}
.messageform input , .messageform textarea{

    width: 150%;
    outline: none;
    font-size: 20px;
    border: none;
    padding: 20px 0px;
    background-color:transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    transition: 0.5s;
   
    
}
.messagebox .btn {
    
    padding: 5px 20px;
    width: 55%;
    
    
    margin-top: 30px;
    
    margin-left: 50%;
    
}

.Contact-heading span{
    font-size: 40px;
    color: #fff;
    display: flex;
margin-right: 5rem;
flex-direction: column;
align-items: center;

}
.Contact-Container .row {
    display: flex;
    flex-direction: column;
}


.row div.right {
    display: flex;
    flex-basis: 60%;
    font-size: 20px;
    margin-left: -1%;
    margin-top: 30%;
}

.Getintouch p {
    font-size: 14px;
    margin-bottom: 1px;
}

.Addressandcontact{
font-size: medium;

}

.socialiconsfooter .Horizontal-List {
  
    margin: 55px;
}

}










 /*2 breakpoint '572px'.*/
/* 572px Responsive media query */
@media screen and (max-width:572px){
    body .Container{

        overflow: hidden;
    }
    .Horizontal-List {
        list-style: none;
 
        margin: -60px;
    }
    #body-header {
        height: 60vh;
      
    }
    #Social-Links-container{


        margin-top: -8vh;
    }

    .nav-hamburger{

        display: block;
        margin-top: 10px;
        margin-left: 94%;
        cursor: pointer;
      
    }
    
    .nav-links{
position: absolute;
left: 10%;
top: 10%;
width:1%


    }

    .nav-links .Horizontal-List .Allinks{
display:flex;
flex-direction: column;


    }
    .MyName{
    
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
        color: white;
        font-weight: 500;
    margin-top: -8rem;
        text-align: center;
    }
   
#MyImage{

    margin-left: 50vh;
    margin-top: -18vh;

}
#About-Paragraph {
    padding-top: 90px;
    font-weight: 300;
    margin: -150px 70px 35px 70px;
    line-height: 25px;
    font-size:55%;

}

#Skills {
    margin-top: 80px;

}

.Skills-heading {
   margin-bottom: 65px;
}

.Skills-Display {
  
    
    display: flex;
    width: 50%;
    flex-direction: column;

    margin-left:210px;
   
}
#Skills {
    
    padding-bottom: 60px;
   
}

.skill-progress{
    width: 8rem;
    height: 1.9rem;
    margin-bottom: 10%;}

.Education-heading {
    width: auto;
    padding: 55px 10px 5px;
    margin-top: -97px;


}

.contentbox p {
 
    font-size: 0.9rem;
    
}
.Timeline-divider{
 
    left: 15%;
  }  

  .Timeline-Box{

    left: 29% !important ;
  }

  .Timeline-Box::after{
  top: -5%;

    left: -39% !important;
  }
  .contentbox{

    margin: -5%;
    padding-top: 87px;
  }
  
  .Timeline{

    left: 7% !important;
    width: 85%;
   
  }
  .Horizontal-List li{
    
  
    margin: 0px 2px 2px 0px;
  
    font-size: 0.8rem;


}
.Social-Icons li a i {
    width: 1.5rem;
    padding: 5px;
    
}
#myname{
    
    
    margin-bottom: 8%;
    font-size: 2.5rem;
    margin-top: 34%;
    color: white;
    font-weight: 400;
 
}
#Portfolio{

    margin-top: 0;
}

.Portfolio-Display{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   align-items: center;  /*Because of cross axis */
  
    margin:60px;
    margin-right:17% ;


}
.portfolio-heading {
 
    margin-top: 30px;
}



.Contact-heading {

    margin-left: 35px;
}

.row{

    margin-right: 25%;
}
.Contact-Container .row {
   
    width: 50%;
}

#LeftContactsection{
    flex-basis:40%;
    min-width: 255px;
    margin-left: -4%;

    font-size: 50px;

}
.colleft .Input-fields{

    margin: 15px 0px;
 
}
.messageform input , .messageform textarea{

    width: 160%;
    outline: none;
    font-size: 20px;
    border: none;
    padding: 20px 0px;
    background-color:transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    transition: 0.5s;
   
    
}
.messagebox .btn {
    
    padding: 5px 20px;
    width: 65%;
    
    
    margin-top: 30px;
    
    margin-left: 45%;
    
}



.Contact-Container .row {
    display: flex;
    flex-direction: column;
}


.row div.right {
    display: flex;
    flex-basis: 60%;
    font-size: 20px;
    margin-left: -1%;
    margin-top: 30%;
}

.Getintouch p {
    font-size: 14px;
    margin-bottom: 1px;
}

.Addressandcontact{
font-size: medium;

}

.socialiconsfooter .Horizontal-List {
  
    margin: 5px;
    margin-top: 15%;
    padding-right: 60px;
   
}


}













 